<div class="container p-5">
  <div class='row'>
    <div class="col-md-10 mx-auto">
      <h5 class="text-center">お問い合わせありがとうございました。</h5>
      <p class="text-center">
        お問い合わせ完了次第、メールを送付させていただきます。<br>
        メールが送付されない場合はお手数ですが再度お問い合わせください。
      </p>
    </div>
  </div>
</div>