<div class="container">
  <div class="row">
    <div class="col-md-11 mx-auto my-3">
      <div class="d-flex justify-content-center mb-2">
        <%= render "searches/form" %>
      </div>
      <h3 class="my-3 text-center">投稿一覧</h3>

      <%= render 'public/posts/index', posts: @posts %>
    </div>
  </div>
</div>