<div class="container">
  <div class="row">
    <div class="col-md-5">
      <h3>Nice Shop Photosとは</h3>
      <p>
        あなたが訪れたことのあるカフェやレストランなどで
        「インテリアやデザインが素敵だった！」というお店はありませんか？
        このサイトではあなたが印象に残っているお店の外観・内装の写真を共有することができます。
        あなたの投稿した写真が、誰かのお店との出会いにつながります。
        ぜひ自分好みの魅力的なお店を見つけてください！
      </p>
    </div>

    <div class="col-md-5 offset-md-1">
      <%= image_tag "about.jpg", size: "500x1000" %>
    </div>
  </div>
</div>