<div class="container">
  <div class="row">
    <div class="col-md-5 my-auto">
      <h4>Nice Shop Photosとは</h4>
      <p>
        あなたが訪れたことのあるカフェやレストランなどで<br>
        「インテリアやデザインが素敵だった！」<br>
        というお店はありませんか？<br>
        このサイトではあなたが印象に残っているお店の<br>
        外観・内装の写真を共有することができます。<br>
        あなたの投稿写真が誰かのお店との出会いにつながります。<br>
        ぜひ自分好みの魅力的なお店を見つけてください！
      </p>
    </div>

    <div class="col-md-5 my-3 offset-md-1">
      <%= image_tag "about.jpg", size: "500x600" %>
    </div>
  </div>
</div>