<div class="container">
  <div class="row">
    <div class="col-md-11 mx-auto my-3">
      <div class="d-flex justify-content-center mb-2">
        <%= render "searches/form" %>
      </div>
      <h2 class="text-center">ユーザー一覧</h2>
      <%= render "admin/users/index", users: @users %>
    </div>
  </div>
</div>