<h4><%= @contact.name %> 様</h4>

<p>
  この度は、お問い合わせありがとうございました。<br>
  下記の内容で受付致しました。<br>
</p>

【件名】：<%= @contact.subject %><br>
【お問い合わせ内容】<br>
<span style="white-space: pre-wrap;"><%= @contact.message %></span>

<p>
  確認次第、管理者よりご返信させて頂きますので少々お待ちください。<br>
  引き続きどうぞよろしくお願いいたします。
</p>