@use '~bootstrap/scss/bootstrap';

body {
  font-family: "Sawarabi Gothic", serif;
  font-weight: 400;
  font-style: normal;
  background-color: #f5deb3;
}

header {
  font-size: 24px;
}

footer {
  height: 60px;
  background-color: #ffffff;
}

#map {
  width: 50%;
  height: calc(100vh - 88px - 179px);
}

.btn-custom {
  background-color: #FF9843;
}

.link {
  text-decoration: none;
  color: #000000;
}

.top_title {
  color: #E8751A;
}

.table-color {
  background-color: #6F4E37;
  color: #FFFFFF;
}

.swiper-button-next,
.swiper-button-prev {
    --swiper-navigation-color: #FFFFFF;
}

.profile_image_userpage {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.profile_image_userindex {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.profile_image {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.photo_content_show {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.photo_content_thumbnail {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.photo_content_thumbnail_top {
  width: 287px;
  height: 200px;
  object-fit: cover;
}

.search_comment {
  font-size: 12px;
}

.pagination>li>a {
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

// /* 表示しているページ番号のデザイン */
// .pagination>.active>a {
//   background: #93c9ff;     /*背景の色を変える*/
//   border-radius: 15px;     /*角を丸くする*/
// }

/*ホバー時のデザイン*/
// .pagination>li>a:hover {
//   border-radius: 15px;    /*角を丸くする*/
// }