@use '~bootstrap/scss/bootstrap';

body {
  font-family: "Sawarabi Gothic", serif;
  font-weight: 400;
  font-style: normal;
  background-color: #f5deb3;
}

header {
  font-size: 24px;
}

footer {
  height: 60px;
  background-color: #ffffff;
}

#map {
  width: 50%;
  height: calc(100vh - 88px - 179px);
}

.btn-custom {
  background-color: #FF9843;
}

.link {
  text-decoration: none;
  color: #000000;
}
