<div class="tabs d-flex justify-content-center">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="link nav-link active" data-toggle="tab" href="#published">公開中</a>
    </li>
    <li class="nav-item">
      <a class="link nav-link" data-toggle="tab" href="#draft">下書き</a>
    </li>
    <li class="nav-item">
      <a class="link nav-link" data-toggle="tab" href="#unpublished">非公開</a>
    </li>
  </ul>
</div>