<div class="container">
  <h4 class="text-center" style="color: #696969;">いいねした投稿一覧</h4>
  <% if @like_post.exists? %>
    <%= render "public/posts/index", posts: @like_post %>
  <% else %>
    <p class="text-center">いいねした投稿はありません</p>
  <% end %>
</div>