<div class="container">
  <div class="row mx-auto">
    <div class="col-md-11 text-center my-5">
      <h3>本当に退会しますか？</h3>
      <p>退会すると会員情報や、これまでの投稿データ等が全て削除されます。</p>
      <div class="d-flex justify-contents-center　mt-2">
        <%= link_to "マイページに戻る", user_path(current_user), class: 'btn btn-success' %>
        <%= link_to "退会", users_withdraw_path, method: :patch, "data-confirm" => "本当によろしいですか？", class: 'btn btn-danger' %>
      </div>
    </div>
  </div>
</div>
