<div class="p-1">
   <div class="d-flex justify-content-center mt-3">
     <p>Nice Shop Photos.inc<p>
     <div class="ml-5">
       <%= link_to "お問い合わせ", new_contact_path, class: "link" %>
     </div>
   </div>
</div>